html,body {
    /* Общие стили для html и body */
    background-color: #2c2c2c; /* тёмно-серый */
    color: #dfdfdf; /* чтоб текст был виден */
    font-family: 'JetBrains Mono';
}

fieldset {
    border: 2px solid #4a90e2; /* синий цвет границы */
    background-color: #3a3a3a; /* чуть светлее фон */
    border-radius: 8px; /* скругленные углы */
    margin: 20px;
    padding: 15px;
}

fieldset legend {
    color: #4a90e2; /* синий цвет текста */
    font-weight: bolder;/* жирный шрифт */
    font-size: 1.2em;/* немного больше обычного */
    font-style: italic;/* курсив */
    border: #4a90e2 2px solid;/* синий цвет рамки */
    padding: 5px 10px;/* Отступы внутри легенды */
    border-radius: 5px;/* скругленные углы */
    background-color: #2c2c2c; /* совпадает с фоном страницы */
}

nav ul {
    padding-top: 0px;/* Убираем отступ сверху */
    padding-left: 15px;/* Отступ слева для списка */
}

a {
    color: #4a90e2; /* синий цвет ссылок */
    text-decoration-line: underline; /* Подчеркивание текста */
    text-decoration-style: solid;/* Стиль линии подчеркивания */
    text-underline-offset: 3px;/* Расстояние между текстом и линией */
    text-decoration-thickness: 1px;/* Толщина линии */

}