QSpinBox#spin_01{
    color: #D5D5D5; /* Цвет самого текста */
    background-color: #1E1F22;
    selection-background-color: #2535B8DF;  /* Цвет выделения */
    selection-color: #FFFFFF;              /* Цвет текста в выделении */
}
QLabel#label_01, QLabel#label_02{
    border: 1.5px solid #2058B9E9;
    border-radius: 0px;
    background-color: #1E1F22;
}
QFrame#icon_box{
    border: 1.5px solid #20F9D512;
    border-radius: 0px;
    background-color: #1E1F22;
}