QTabBar {
    font-family: JetBrains Mono;
    border: none;
}

/* Вкладка */
QTabBar::tab {
    background: #503E3E42;
    color: #D0D0D0;
    padding: 4px 2px;
    margin-right: 2px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    min-width: 80px;
}

/* Выбранная вкладка */
QTabBar::tab:selected {
    background: #3E3E42;
    color: #C6D7EEF9;
    font-weight: 700;
}

/* Невыбранная вкладка при наведении */
QTabBar::tab:hover:!selected {
    background: #46464A;
    color: #C9C9C9
}
/* Невыбранная вкладка */
QTabBar::tab:!selected {
    color: #99C9C9C9;
}